/*
Created On: 09/12/2024 (MM/DD/YYYY)
Last Updated: 09/12/2024 (MM/DD/YYYY)
Editor Used: VS Studio
Created By: Viktor Dominguez

This is a project I made for a friend who is designing jerseys and wanted an example of different font styles he could use.

I made this HTML file to demonstrate my designs to him. 
While I was building this file, I found that many online sources stated the 2-border font is "impossible"
in HTML/CSS. I created this file to prove them wrong.

Please enjoy and feel free to change the colors around (I used the colors I did for my friend's color scheme).

*/

:root {--garnet: darkred }

h1 {
  text-align: center;
}


.font-container {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}

.outer-text {
  width: 100%;
  position: relative;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 0.2rem;
  /* font-weight: bold; */
  z-index: 1;
  color: white;
}

.inner-text {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  letter-spacing: 0.2rem;
  font-size: 72px;
  font-weight: 950;
  z-index: 0;
}

.black-bg {
  background-color: black;
}

.garnet-bg{
  background-color: var(--garnet);
}

/* BLACK GOLD TEXT */
#black-gold-outer{
  color: black;
  -webkit-text-stroke: 2px wheat;
}

#black-gold-inner {
  -webkit-text-stroke: 7px black;
}

/* BLACK WHITE GOLD TEXT */
#black-white-gold-inner{
  color: black;
  -webkit-text-stroke: 2px white;
}

#black-white-gold-outer {
  -webkit-text-stroke: 7px wheat;
}

/* BLACK WHITE BLACK TEXT */
#black-white-inner{
  color: black;
  -webkit-text-stroke: 2px white;
}

#black-white-outer{
  -webkit-text-stroke: 7px black;
}

/* BLACK PINK BLACK TEXT */
#black-pink-inner{
  color: black;
  -webkit-text-stroke: 2px pink;
}

#black-pink-outer{
  -webkit-text-stroke: 7px black;
}

/* BLACK SILVER BLACK TEXT */
#black-silver-inner{
  color: black;
  -webkit-text-stroke: 2px silver;
}

#black-silver-outer{
  -webkit-text-stroke: 7px black;
}

/* WHITE BLACK PINK TEXT */
#whiteout-black-inner{
  -webkit-text-stroke: 2px Black;
}

#whiteout-black-outer{
  -webkit-text-stroke: 7px pink;
}


/* PINK WHITE BLACK TEXT */
#pink-black-inner{
  color: pink;
  -webkit-text-stroke: 2px white;
}

#pink-black-outer{
  -webkit-text-stroke: 7px black;
}

/* PINK WHITE PINK TEXT */
#pink-white-inner{
  color: pink;
  -webkit-text-stroke: 2px white;
}

#pink-white-outer{
  -webkit-text-stroke: 7px pink;
}

/* NAVY WHITE RED TEXT */
#navy-white-red-inner{
  color: navy;
  -webkit-text-stroke: 2px white;
}

#navy-white-red-outer{
  -webkit-text-stroke: 7px var(--garnet);
}

/* RED WHITE NAVY TEXT */
#red-white-navy-inner{
  color: var(--garnet);
  -webkit-text-stroke: 2px white;
}

#red-white-navy-outer{
  -webkit-text-stroke: 7px navy;
}

/* WHITE BLACK WHITE TEXT */
#white-black-white-inner{
  color: white;
  -webkit-text-stroke: 2px black;
}

#white-black-white-outer{
  -webkit-text-stroke: 7px white;
}

/* WHITE BLACK GOLD TEXT */
#white-black-gold-inner{
  color: white;
  -webkit-text-stroke: 2px black;
}

#white-black-gold-outer{
  -webkit-text-stroke: 7px wheat;
}


/* ---FSU COLOR SCHEMES--- */
/* BLACK GOLD GARNET TEXT */
#black-gold-garnet-inner{
  color: black;
  -webkit-text-stroke: 2px wheat;
}

#black-gold-garnet-outer{
  -webkit-text-stroke: 7px var(--garnet);
}

/* GOLD BLACK GARNET TEXT */
#gold-black-garnet-inner{
  color: wheat;
  -webkit-text-stroke: 3px black;
}

#gold-black-garnet-outer{
  -webkit-text-stroke: 7px var(--garnet);
}

/* GARNET BLACK GOLD TEXT */
#garnet-black-gold-inner{
  color: var(--garnet);
  -webkit-text-stroke: 3px black;
}

#garnet-black-gold-outer{
  -webkit-text-stroke: 7px wheat;
}

/* GARNET GOLD BLACK TEXT */
#garnet-gold-black-inner{
  color: var(--garnet);
  -webkit-text-stroke: 3px wheat;
}

#garnet-gold-black-outer{
  -webkit-text-stroke: 7px black;
}

/* GARNET GOLD GARNET TEXT */
#garnet-gold-garnet-inner{
  color: var(--garnet);
  -webkit-text-stroke: 3px wheat;
}

#garnet-gold-garnet-outer{
  -webkit-text-stroke: 7px var(--garnet);
}

/* WHITE GARNET GOLD TEXT */
#white-garnet-gold-inner{
  color: white;
  -webkit-text-stroke: 2px var(--garnet);
}

#white-garnet-gold-outer{
  -webkit-text-stroke: 7px wheat;
}

/* BLACK GARNET GOLD TEXT */
#black-garnet-gold-inner{
  color: black;
  -webkit-text-stroke: 2px var(--garnet);
}

#black-garnet-gold-outer{
  -webkit-text-stroke: 7px wheat;
}

/* BLACK GOLD BLACK TEXT */
#black-gold-black-inner{
  color: black;
  -webkit-text-stroke: 2px wheat;
}

#black-gold-black-outer{
  -webkit-text-stroke: 7px black;
}

/* GARNET WHITE GOLD TEXT */
#garnet-white-gold-inner{
  color: var(--garnet);
  -webkit-text-stroke: 2px white;
}

#garnet-white-gold-outer{
  -webkit-text-stroke: 7px wheat;
}
