/*
Created On: 09/12/2024 (MM/DD/YYYY)
Last Updated: 09/12/2024 (MM/DD/YYYY)
Editor Used: VS Studio
Created By: Viktor Dominguez

This is a project I made for a friend who is designing jerseys and wanted an example of different font styles he could use.

I made this HTML file to demonstrate my designs to him. 
While I was building this file, I found that many online sources stated the 2-border font is "impossible"
in HTML/CSS. I created this file to prove them wrong.

Please enjoy and feel free to change the colors around (I used the colors I did for my friend's color scheme).

*/

h1 {
  text-align: center;
}


.font-container {
  position: relative;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}

.outer-text {
  width: 100%;
  position: relative;
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 0.2rem;
  /* font-weight: bold; */
  z-index: 1;
  color: white;
}

.inner-text {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  letter-spacing: 0.2rem;
  font-size: 72px;
  font-weight: 950;
  z-index: 0;
}

/* BLACK GOLD TEXT */
#black-gold-outer{
  color: black;
  -webkit-text-stroke: 2px wheat;
}

#black-gold-inner {
  -webkit-text-stroke: 7px black;
}


/* WHITE BLACK PINK TEXT */
#whiteout-black-inner{
  position: absolute;
  -webkit-text-stroke: 2px Black;
}

#whiteout-black-outer{
  -webkit-text-stroke: 7px pink;
  position: relative;
}


/* PINK WHITE BLACK TEXT */
#pink-black-inner{
  color: pink;
  -webkit-text-stroke: 2px white;
}

#pink-black-outer{
  -webkit-text-stroke: 7px black;
  position: absolute;
}

/* PINK WHITE PINK TEXT */
#pink-white-inner{
  color: pink;
  -webkit-text-stroke: 2px white;
}

#pink-white-outer{
  -webkit-text-stroke: 7px pink;
  position: absolute;
}

/* BLACK WHITE BLACK TEXT */
#black-white-inner{
  color: black;
  -webkit-text-stroke: 2px white;
}

#black-white-outer{
  -webkit-text-stroke: 7px black;
  position: absolute;
}

/* BLACK PINK BLACK TEXT */
#black-pink-inner{
  color: black;
  -webkit-text-stroke: 2px pink;
}

#black-pink-outer{
  -webkit-text-stroke: 7px black;
  position: absolute;
}

